doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="icon" href="")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css")
  body
    section#app
    script(src="bundle.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGHaealw3794pxFt0gq083E_kDEkE8aJY&callback=initMap")
